body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container{
  background-color: #d9eeec;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row-up{
  width: 50% ;
  margin: 100px auto 100px auto;
  text-align: left;

}

.skill-row-down{
  width: 50% ;
  margin: 200px auto 200px auto;
  text-align: left;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

#profilePic{
  height: 150px;
}

#ded{
  padding-top: 60px;
}

#moto{
  padding-top: 60px;
}

.bike{
  width: 25%;
  float: right  ;
  margin-right: 30px;
}

.computer{
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.footer-link{
  color: #11999E
}

.intro{
  width: 30%;
  margin: auto;
}

.btn{
  font-family: 'Montserrat', sans-serif;
  color: #F7EDEF !important;
  font-size: 22px;
  text-shadow: 1px 1px 0px #8E8EDE;
  box-shadow: 2px 1px 1px #BEE2F9;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #537DE0;
  background: #469BDB;
  background: linear-gradient(top,  #2D34EE,  #20E3E3);
  background: -ms-linear-gradient(top,  #2D34EE,  #20E3E3);
  background: -webkit-gradient(linear, left top, left bottom, from(#2D34EE), to(#20E3E3));
  background: -moz-linear-gradient(top,  #2D34EE,  #20E3E3);
  text-decoration: none;
}

.btn:hover{
  color: #14396A !important;
  background: #46CFBD;
  background: linear-gradient(top,  #15A4CF,  #1556EE);
  background: -ms-linear-gradient(top,  #15A4CF,  #1556EE);
  background: -webkit-gradient(linear, left top, left bottom, from(#15A4CF), to(#1556EE));
  background: -moz-linear-gradient(top,  #15A4CF,  #1556EE);
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
